<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--
    Logback "prod-safe" (testo), con supporto MDC (traceId) se valorizzato dal gateway / filtri.
    Nota: non usiamo JSON per semplificare lettura e troubleshooting.
  -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <springProperty scope="context" name="appName" source="spring.application.name"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %-5level [%X{traceId:-}] ${appName:-svc-prescribing} %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
