# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
