<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Valori di default Spring Boot -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Nome applicazione (utile in log multi-servizio) -->
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Pattern leggibile (non JSON). Include traceId se presente in MDC. -->
            <pattern>%d{ISO8601} %-5level [%X{traceId:-}] ${springAppName:-svc-docs} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${LOG_LEVEL_ROOT:-INFO}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
