<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!-- Nome applicazione (spring.application.name) da inserire nei log -->
  <springProperty scope="context" name="springAppName" source="spring.application.name"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp/>
        <pattern>
          <pattern>
            {
              "level": "%level",
              "logger": "%logger",
              "thread": "%thread",
              "message": "%message",
              "traceId": "%X{traceId:-}",
              "spanId": "%X{spanId:-}",
              "app": "${springAppName:-svc-notifications}"
            }
          </pattern>
        </pattern>
        <stackTrace/>
      </providers>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
